@import "~bootstrap/scss/bootstrap";
@import "~src/assets/scss/core/variables";
@import "~src/assets/scss/core/_elements.scss";

/* Mobile Nav body classes */
body.mobile-nav-active {
  overflow: hidden;
}

body.mobile-nav-active #mobile-nav {
  left: 0;
}

body.mobile-nav-active #mobile-nav-toggle {
  color: #fff;
}

a, .pointer {
  cursor: pointer;
}

.section-gap {
  padding: 120px 0;
}


lightbox {
  margin: auto;
  top: 0
}
