@import "~bootstrap/scss/bootstrap";
@import "~src/assets/scss/core/variables";
@import "~src/assets/scss/core/_elements.scss";

/* Mobile Nav body classes */
body.mobile-nav-active {
  overflow: hidden;
}

body.mobile-nav-active #mobile-nav {
  left: 0;
}

body.mobile-nav-active #mobile-nav-toggle {
  color: #fff;
}

a, .pointer {
  cursor: pointer;
}

.section-gap {
  padding: 120px 0;
}

.single-service {
  .thumb {
    overflow: hidden;
    cursor: pointer;

    img {
      @include transition();
      width: 100%;
      height: 15rem;
    }
  }

  h4 {
    margin: 20px 0;
  }

  &:hover {
    h4 {
      color: $primary-color;
    }

    .thumb {
      img {
        transform: scale(1.1);
      }
    }
  }

  @media(max-width: 991px) {
    margin-bottom: 30px;
  }
}


.primary-btn {
  background: $primary-color;
  line-height: 42px;
  padding-left: 30px;
  padding-right: 30px;
  border: none;
  color: $white;
  display: inline-block;
  font-size:14px;
  font-weight: 500;
  position: relative;
  text-transform:uppercase;
  @include transition();
  cursor: pointer;
  position: relative;
  &:focus {
    outline: none;
  }
  span {
    color: $white;
    position: absolute;
    top: 50%;
    transform: translateY(-60%);
    right: 30px;
    @include transition();
  }
  &:hover {
    color: $white;
    span {
      color: $white;
      right: 20px;
    }
  }
  &.white {
    border: 1px solid $white;
    color: $white;
    span {
      color: $white;
    }
    &:hover {
      background: $white;
      color: $primary-color;
      span {
        color: $primary-color;
      }
    }
  }
}
