@import "~src/assets/scss/core/variables";

.single-menu {
  background: $white;

  .title-wrap {
    margin-bottom: 20px;
  }

  p {
    max-width: 392px;
  }

  .price {
    color: $primary-color;
  }

  .icon-basket {
    font-size: 20px;
    color: $primary-color;
  }
}
