<div>
  <div class="card single-menu">
    <img [src]="product?.image" alt=""
         style="height: 10rem;"
         class="card-img-top pointer"
         (click)="open()">
    <div class="card-body">
      <h3 class="card-title pointer">{{product?.name}}</h3>
      <div class="row">
        <h4 class="price ml-3">{{product?.price}}</h4>
        <i class="icon-basket ml-auto mr-3 pointer btn"
           data-container="body" data-toggle="popover" data-placement="right" data-content="Add to card"
           title="Add to card"
           (click)="addToOrder(product)">
        </i>
      </div>
      <p class="card-text mt-0">{{product?.description}}</p>
    </div>
  </div>
</div>
