<section class="reservation-area section-gap relative">
  <div class="overlay overlay-bg"></div>
  <div class="container">
    <div class="row justify-content-between align-items-center">
      <div class="col-lg-6 reservation-left">
        <h1 class="text-white">Reserve Your Seats
          to Confirm if You Come
          with Your Family</h1>
        <p class="text-white pt-20">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam. Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea.
        </p>
      </div>
      <div class="col-lg-5 reservation-right">
        <form [formGroup]="reservForm" (ngSubmit)="submitReservForm()"
              class="form-wrap">
          <div>
            <label>
              <select name="count" class="form-control">
                <option data-display="">for</option>
                <option value="1">for 1</option>
                <option value="2">for 2</option>
                <option value="3">for 3</option>
                <option value="4">for 4</option>
              </select>
            </label>
          </div>
          <div class="form-inline">
            <div>
              <label>
                <input formControlName="date" type="date" class="mr-3" #date
                (keyup)="alertValidate(date)">
              </label>
              <small *ngIf="(reservForm.controls['date'].dirty &&
        reservForm.controls['date'].hasError('required')) ||
         (reservForm.controls['date'].touched &&
         reservForm.controls['date'].hasError('required'))">
                Date is required
              </small>
            </div>
            <div>
              <label>
                <input formControlName="time" type="time" #time
                       (keyup)="alertValidate(time)">
              </label>
              <small *ngIf="(reservForm.controls['time'].dirty &&
        reservForm.controls['time'].hasError('required')) ||
         (reservForm.controls['time'].touched &&
         reservForm.controls['time'].hasError('required'))">
                Time is required
              </small>
            </div>
          </div>
          <button type="submit" class="btn btn-success">send</button>
          <button type="button" class="btn btn-danger mt-3"
                  data-toggle="modal" data-target="#reservation"
          >MAKE RESERVATION</button>
        </form>
      </div>
    </div>
  </div>
</section>


<!-- Modal -->
<div class="modal fade" id="reservation" tabindex="-1" role="dialog" aria-labelledby="reserv" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="reserv">You're almost done!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <app-reservation-modal></app-reservation-modal>
        </div>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
