<section class="reservation-area section-gap relative">
  <div class="overlay overlay-bg"></div>
  <div class="container">
    <div class="row justify-content-between align-items-center">
      <div class="col-lg-6 reservation-left">
        <h1 class="text-white">Reserve Your Seats
          to Confirm if You Come
          with Your Family</h1>
        <p class="text-white pt-20">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam. Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea.
        </p>
      </div>
      <div class="col-lg-5 reservation-right">
        <app-make-reservation-form></app-make-reservation-form>
      </div>
    </div>
  </div>
</section>


<!-- Modal -->
<div class="modal fade" id="reservation" tabindex="-1" role="dialog" aria-labelledby="reserv" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="reserv">You're almost done!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <app-reservation-modal></app-reservation-modal>
        </div>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
