@import "~bootstrap/scss/bootstrap";
@import "~src/assets/scss/core/variables";

.bg-danger {
  background-color: $primary-color;
}

.reservation-area {
  background: url("~src/assets/images/reservation-bg.jpg") no-repeat center/cover;

  .overlay-bg {
    background: rgba(#111618, 0.75);
  }

  .reservation-right, .reservation-left {
    position: relative;
  }

  .reservation-right {
    @media(max-width: 991px) {
      margin-top: 50px;
    }
  }
}


