<footer class="footer-area">
  <div class="footer-bottom-wrap">
    <div class="container">
      <div class="row footer-bottom d-flex justify-content-between align-items-center">
        <p class="col-lg-8 col-mdcol-sm-6 -6 footer-text m-0">
          Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved
        </p>
        <ul class="col-lg-4 col-md col-sm-6 social-icons text-right">
          <li><a class="mr-1"><i class="icon-facebook-1"></i></a></li>
          <li><a class="mr-1"><i class="icon-twitter"></i></a></li>
          <li><a class="mr-1"><i class="icon-dribbble"></i></a></li>
          <li><a><i class="icon-linkedin-circled"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
