<app-banner [name]="'restaurants'"></app-banner>

<section class="home-about-area section-gap">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 home-about-left">
        <h1>About Our Story</h1>
        <p>
          Who are in extremely love with eco friendly system. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
        <a href="#" class="primary-btn btn btn-danger rounded-0">view full menu</a>
      </div>
      <div class="col-lg-6 home-about-right">
        <img class="img-fluid" src="assets/images/about-img.jpg" alt="">
      </div>
    </div>
  </div>
</section>

<app-menu></app-menu>

<app-reservation></app-reservation>
