<div>
  <table class="table table-borderless">
    <thead>
    <tr>
      <th scope="col-2">image</th>
      <th scope="col">Item name</th>
      <th scope="col">Count</th>
      <th scope="col-2">price</th>
      <th scope="col">Total</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let prod of products; let i = index;">
      <td><img src="assets/images/products/{{prod.img}}" alt="product image"></td>
      <td>{{prod?.title}}</td>
      <td>
        <button class="btn btn-danger mx-2"
                (click)="reduceCount(i)">-
        </button>
        {{prod?.count}}
        <button class="btn btn-success mx-2"
                (click)="addCount(i)">+
        </button>
      </td>
      <td>{{prod.price}}</td>
      <td>{{prod?.price * prod.count}}</td>
      <td class="pt-1"><i class="icon-trash-empty btn" (click)="deleteProduct(i)"></i></td>
    </tr>
    <tr>
      <td colspan="3"></td>
      <td><p>TOTAL PRICE</p></td>
      <td>{{price}}</td>
    </tr>
    </tbody>
  </table>
  <div class="d-flex justify-content-end mb-5">
    <button type="button" class="btn btn-info"
            data-toggle="modal" data-target="#orderProducts"
            (click)="sendData()">
      order products
    </button>
  </div>
</div>
