<div>
  <table class="table table-hover">
    <thead>
    <tr>
      <th scope="col-2">{{ 'order.image' | translate }}</th>
      <th scope="col">{{ 'order.name' | translate}}</th>
      <th scope="col">{{ 'order.count' | translate}}</th>
      <th scope="col-2">{{ 'order.price' | translate}}</th>
      <th scope="col">{{ 'order.total' | translate}}</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let prod of products; let i = index;">
      <td><img [src]="prod?.img" alt="product image"></td>
      <td align="center">{{prod?.title}}</td>
      <td>
        <button class="btn btn-danger mx-2 py-0 px-2"
                (click)="reduceCount(i)">-
        </button>
        {{prod?.count}}
        <button class="btn btn-success mx-2 py-0 px-2"
                (click)="addCount(i)">+
        </button>
      </td>
      <td>{{prod.price}}</td>
      <td>{{prod?.price * prod.count}}</td>
      <td class="pt-1"><i class="icon-trash-empty btn" (click)="deleteProduct(i)"></i></td>
    </tr>
    <tr>
      <td colspan="3"></td>
      <td><p class="mb-0 text-danger">{{ 'order.total_price' | translate}}</p></td>
      <td class="text-italic">{{price}}</td>
      <td></td>
    </tr>
    </tbody>
  </table>
  <div class="d-flex justify-content-end mb-5">
    <button type="button" class="btn btn-info"
            data-toggle="modal" data-target="#orderProducts">
      {{ 'order.btn' | translate}}
    </button>
  </div>
</div>
