<form [formGroup]="reserveForm" (ngSubmit)="submitReservForm()"
      class="form-wrap px-3 py-5">
  <div class="form-group">
    <label for="count"> Guest count
      <select id="count" formControlName="count" name="count" class="form-select custom-select">
        <option value="1">for 1</option>
        <option value="2">for 2</option>
        <option value="3">for 3</option>
        <option value="4">for 4</option>
      </select>
    </label>
  </div>
  <div class="form-group">
    <div>
      <div class="input-group">
        <input class="form-control" placeholder="yyyy-mm-dd" type="text"
               name="date" ngbDatepicker #d="ngbDatepicker"
               aria-describedby="calendar"
               formControlName="date"
               (ngModelChange)="alertValidate(date)" #date>
        <div class="input-group-append">
          <button class="btn icon-calendar"
                  (click)="d.toggle()" type="button" id="calendar">
          </button>
        </div>
      </div>
      <small *ngIf="reserveForm.controls['date'].dirty
                    && reserveForm.controls['date'].hasError('required')
                || reserveForm.controls['date'].touched
                    && reserveForm.controls['date'].hasError('required')">
        Date is required
      </small>
      <small *ngIf="reserveForm.controls['date'].dirty
                    && reserveForm.controls['date'].hasError('ngbDate')">
        Please enter correct date
      </small>
    </div>
    <div class="form-row">
      <div class="mr-5">
        <label for="startTime">Start time</label>
        <ngb-timepicker [(ngModel)]="timer1" id="startTime"
                        size="small" [hourStep]="1" [minuteStep]="15"
                        [ngModelOptions]="{standalone: true}">

        </ngb-timepicker>
      </div>
      <div class="">
        <label for="endTime">End time</label>
        <ngb-timepicker [(ngModel)]="timer2" id="endTime"
                        size="small" [hourStep]="1" [minuteStep]="15"
                        [ngModelOptions]="{standalone: true}">
        </ngb-timepicker>
      </div>
    </div>
  </div>


  <div *ngIf="!success">
    <div>
      <app-table-badge *ngFor="let data of tables" [data]="data" class="mx-1"></app-table-badge>
    </div>
  </div>
  <div *ngIf="request" class="pl-5">
    <mat-progress-spinner [mode]="'indeterminate'" [diameter]="40"></mat-progress-spinner>
  </div>

  <button type="submit" class="btn btn-danger mt-5 d-block"
          data-target="#reservation"
  >MAKE RESERVATION
  </button>
</form>
