@import '~src/assets/scss/core/variables';

.thumb {
  position: relative;
}

.thumb div {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color:rgba(180,112,14, .8);
  color: #fff;
  opacity:0;
  transition: 0.5s;
}
.thumb img {
  display: block;
  width:100%
}

.thumb:hover div {
  opacity:1;
  cursor:pointer;
  transition: all 1s;
}
