<section class="about-banner relative">
  <div class="overlay overlay-bg"></div>
  <div class="container">
    <div class="row d-flex align-items-center justify-content-center">
      <div class="about-content col-lg-12">
        <div *ngIf="link!==false">
          <h1 class="text-white">
            {{name | uppercase}}
          </h1>
          <p class="text-white link-nav">
            <a routerLink="/home"> Home </a>
            <span class="lnr lnr-arrow-right"></span>
            <a routerLink="/{{name}}">
              {{name}}
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
