<section class="menu-area section-gap mb-5" id="menu">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="menu-content pb-70 col-lg-8">
        <div class="title text-center">
          <h1 class="mb-10">What kind of Foods we serve for you</h1>
          <p>Who are in extremely love with eco friendly system.</p>
        </div>
      </div>
    </div>

    <ul class="filter-wrap filters col-lg-12 no-padding" #filters>
      <li (click)="changeMenu($event.target)" data-filter="*" class="active">All Menu</li>
      <li *ngFor="let item of menu" [attr.data-filter]="item"
          (click)="changeMenu($event.target)">
        {{item}}
      </li>
    </ul>

    <div class="filters-content">
      <div class="row grid show">
        <div class="col-md-3 p-2" *ngFor="let product of productList">
          <app-products [product]="product"></app-products>
        </div>
      </div>
    </div>
  </div>
</section>
