<form [formGroup]="reservationForms"
      (ngSubmit)="submitReservationForm()">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="name">Name</label>
      <input formControlName="name" type="text" name="name"
             (keyup)="alertValidate(name)" #name
             class="form-control" id="name" placeholder="Name">
      <small *ngIf="(reservationForms.controls['name'].dirty &&
        reservationForms.controls['name'].hasError('required')) ||
         (reservationForms.controls['name'].touched &&
         reservationForms.controls['name'].hasError('required'))">
        Name is required
      </small>
      <small *ngIf="reservationForms.controls['name'].dirty
           && reservationForms.controls['name'].hasError('pattern')">
        Invalid name
      </small>
    </div>
    <div class="form-group col-md-6">
      <label for="surname">SurName</label>
      <input formControlName="surname" type="text" name="surname"
             class="form-control" id="surname" placeholder="Surname">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="phone">Phone number</label>
      <input formControlName="phone" type="text" name="phone"
             (keyup)="alertValidate(phone)" #phone
             class="form-control" id="phone" placeholder="Phone number">
      <small *ngIf="(reservationForms.controls['phone'].dirty &&
        reservationForms.controls['phone'].hasError('required')) ||
         (reservationForms.controls['phone'].touched &&
         reservationForms.controls['phone'].hasError('required'))">
        Phone is required
      </small>
    </div>
    <div class="form-group col-md-6">
      <label for="email">Email</label>
      <input formControlName="email" type="email" name="email"
             (keyup)="alertValidate(email)" #email
             class="form-control" id="email" placeholder="Email">
      <small *ngIf="(reservationForms.controls['email'].dirty &&
        reservationForms.controls['email'].hasError('required')) ||
         (reservationForms.controls['email'].touched &&
         reservationForms.controls['email'].hasError('required'))">
        Email is required
      </small>
      <small *ngIf="reservationForms.controls['email'].dirty
           && reservationForms.controls['email'].hasError('pattern')">
        Invalid email
      </small>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="select">Select Event</label>
      <select id="select" formControlName="occasions" class="form-select form-control">
        <option *ngFor="let feast of celebrations"
                [ngValue]="feast.value">{{feast.name}}
        </option>
      </select>
    </div>
    <div class="form-group col-md-6">
      <label for="textArea">Add a special request</label>
      <textarea id="textArea" formControlName="message" name="message"
                class="form-control" rows="2"
                title="Add a special request">
      </textarea>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Reservation</button>
</form>
