<form [formGroup]="reservationForms"
      (ngSubmit)="submitReservationForm()">
  <div class="form-row">
    <div class="form-group col-md-6">
      <mat-form-field class="">
        <input matInput placeholder="name" [formControl]="name">
        <mat-error *ngIf="name.hasError('pattern') && name.dirty">
          Please enter a valid name
        </mat-error>
        <mat-error *ngIf="name.hasError('required')">
          Name is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="form-group col-md-6">
      <mat-form-field class="">
        <input matInput placeholder="surname" [formControl]="surname">
        <mat-error *ngIf="surname.hasError('pattern') && surname.dirty">
          Please enter a valid surname
        </mat-error>
      </mat-form-field>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <mat-form-field class="">
        <input matInput placeholder="phone" [formControl]="phone">
        <mat-error *ngIf="phone.hasError('pattern') && phone.dirty">
          Phone number must be 055-55-55-55 or (374)-055-55-55-55
        </mat-error>
        <mat-error *ngIf="phone.hasError('required')">
          Phone is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="form-group col-md-6">
      <mat-form-field class="">
        <input matInput placeholder="Email" [formControl]="email">
        <mat-error *ngIf="email.hasError('pattern') && email.dirty">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="email.hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>
  </div>
  <div class="form-row justify-content-around">
    <mat-form-field>
      <mat-select [formControl]="occasions" placeholder="Select Event">
        <mat-option *ngFor="let feast of celebrations" [value]="feast.value">{{feast.name}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="col-md-6">
      <textarea formControlName="message" matInput rows="2" placeholder="Add a special request"></textarea>
    </mat-form-field>
  </div>
  <button type="submit" mat-raised-button color="primary">Reservation</button>
</form>
