

$primary-font	: 'Poppins', sans-serif;


$primary-color	: #f42f2c;
$title-color	: #222222;
$text-color		: #777777;

$white			: #fff;
$offwhite		: #f9f9ff;
$black			: #222;

$footer_height: 12vh;
$banner_height: 66vh;
/*

$primary-font	: 'Poppins', sans-serif;
---------------------------------------------

$primary-color	: #f42f2c;
$title-color	: #222222;
$text-color		: #777777;

$white			: #fff;
$offwhite		: #f9f9ff;
$black			: #222;

*/

