<app-banner [name]="'gallery'"></app-banner>

<div class="container my-5">
  <div class="col-lg-12 mx-auto mt-5">
    <div class="gallery" id="gallery">
      <div class="mb-3 pics animation"
           *ngFor="let image of photos | paginate: { itemsPerPage: itemsPerPage, currentPage: p, totalItems: total }; let i = index"
           @fadeInOut>
        <app-photo [image]="image"
                   [lightbox]="i"
                   [gallery]="galleryId">
        </app-photo>
      </div>
    </div>
  </div>

  <div class="mt-5">
    <pagination-controls class="text-lg-center"
                         (pageChange)="changePage($event)">
    </pagination-controls>
  </div>
</div>

<div id="content-container" class="fixed-top" appCdkOverlayContainer></div>
