@import "~src/assets/scss/core/variables";

.gallery-area {
  background: $offwhite;

}

.primary-btn {
  color: $white;
  background-color: $primary-color;
  margin-left: auto;
  margin-right: auto;
}

.filter-wrap{
  background:$white;
  border-radius:10px;
  box-shadow: 0 10px 30px 0 rgba(153, 153, 153, 0.2);
}

.filters {
  text-align: center;
}

.filters  {
  padding: 0;
  overflow:hidden;
}

.filter-wrap{
  display: table;
  li {
    display: table-cell;
    border-right:1px solid #edf6ff;
    &:last-child{
      border: none;
    }
  }
}



.filters  li {
  padding: 40px 0;
  @media(max-width:768px){
    padding:20px 0;
  }
  @media(max-width:767px){
    padding: 12px 0;
    font-size: 10px;
  }
  max-width:184px;
  cursor: pointer;
  position: relative;
  color: $black;
  font-size:12px;
  font-weight: 500;
  &:last-child{
    border-right:none;
  }
}


.filters  li.active {
  color: $white;
  background:$primary-color;
}

.filters-content {
  margin-top: 50px;
}

.show {
  opacity: 1;
  visibility: visible;
  transition: all 350ms;
}

.hide {
  opacity: 0;
  visibility: hidden;
  transition: all 350ms;
}

.item {
  text-align: center;
  cursor: pointer;
  margin-bottom: 30px;
}

.item img {
  border-radius: 10px;
}


.p-inner {
  padding: 20px 0;
  text-align:center;
}


.cat {
  font-size: 13px;
}

.item img {
  width: 100%;
}

.single-gallery{
  margin-bottom:30px;
  img{
    width:100%;
  }
}

.gallery {
  line-height: 0;
  -webkit-column-count: 3;
  -webkit-column-gap:   10px;
  -moz-column-count:    3;
  -moz-column-gap:      10px;
  column-count:         3;
  column-gap:           10px;

  img {
    width: 100% !important;
    height: auto !important;
  }

  .pics {
    -webkit-transition: all 350ms ease;
    transition: all 350ms ease
  }

  .animation {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1)
  }

  div {
    page-break-inside: avoid;
    break-inside: avoid;
  }

}

@media (max-width: 800px) {
  #photos {
    -moz-column-count:    2;
    -webkit-column-count: 2;
    column-count:         2;
  }
}
@media (max-width: 400px) {
  #photos {
    -moz-column-count:    1;
    -webkit-column-count: 1;
    column-count:         1;
  }
}
